<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="itu.abc4gsd.rcp.client_v6.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="itu.abc4gsd.rcp.client_v6.perspective.PerspectiveManagement"
            id="itu.abc4gsd.rcp.client_v6.perspective.management"
            name="Management">
      </perspective>
      <perspective
            class="itu.abc4gsd.rcp.client_v6.perspective.PerspectiveUse"
            id="itu.abc4gsd.rcp.client_v6.perspective.activities"
            name="Use">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="itu.abc4gsd.rcp.client_v6.view.ViewManagement"
            id="itu.abc4gsd.rcp.client_v6.view.management"
            name="Management"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.ViewAttributes"
            id="itu.abc4gsd.rcp.client_v6.view.attributes"
            name="Attributes"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.ViewRelation"
            id="itu.abc4gsd.rcp.client_v6.view.relation"
            name="Relation"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.CreateActivity"
            id="itu.abc4gsd.rcp.client_v6.view.createActivity"
            name="Create Activity"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.contactV.ContactView"
            id="itu.abc4gsd.rcp.client_v6.view.contact"
            name="Contact View"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.artifactV.ArtifactView"
            id="itu.abc4gsd.rcp.client_v6.view.artifact"
            name="Artifact View"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.applicationV.ApplicationView"
            id="itu.abc4gsd.rcp.client_v6.view.application"
            name="Application View"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.activityV.ActivityViewH"
            id="itu.abc4gsd.rcp.client_v6.view.activityH"
            name="Activity View H"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.activityV.ActivityViewGraph"
            id="itu.abc4gsd.rcp.client_v6.view.activityGraph"
            name="Activity View Graph"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.notificationV.NotificationView"
            id="itu.abc4gsd.rcp.client_v6.view.notification"
            name="Notification"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.chatV.ChatViewContainer"
            id="itu.abc4gsd.rcp.client_v6.view.chat"
            name="Chat View"
            restorable="true">
      </view>
      <view
            class="itu.abc4gsd.rcp.client_v6.view.descriptionV.DescriptionView"
            id="itu.abc4gsd.rcp.client_v6.view.description"
            name="Description"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="itu.abc4gsd.rcp.client_v6.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="itu.abc4gsd.rcp.client_v6.preferences.Connection"
            id="itu.abc4gsd.rcp.client_v6.preferences.connection"
            name="Connection">
      </page>
      <page
            class="itu.abc4gsd.rcp.client_v6.preferences.ConnectionAdvanced"
            id="itu.abc4gsd.rcp.client_v6.preferences.connectionAdvanced"
            name="Advanced connection options">
      </page>
      <page
            class="itu.abc4gsd.rcp.client_v6.preferences.Needs"
            id="itu.abc4gsd.rcp.client_v6.preferences.needs"
            name="Needs">
      </page>
      <page
            class="itu.abc4gsd.rcp.client_v6.preferences.Scripts"
            id="itu.abc4gsd.rcp.client_v6.preferences.scripts"
            name="Scripts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerShell"
            id="itu.abc4gsd.rcp.client_v6.command.shell"
            name="Shell">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerAddSchema"
            id="itu.abc4gsd.rcp.client_v6.command.addSchema"
            name="Add Schema">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerAddArtifact"
            id="itu.abc4gsd.rcp.client_v6.command.addArtifact"
            name="Add Artifact">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerCreateUser"
            id="itu.abc4gsd.rcp.client_v6.command.createUser"
            name="Create User">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerManagementPerspective"
            id="itu.abc4gsd.rcp.client_v6.command.showManagement"
            name="Show Management">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerShowViewPart"
            id="itu.abc4gsd.rcp.client_v6.command.showViewPart"
            name="Show View Part">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerUsePerspective"
            id="itu.abc4gsd.rcp.client_v6.command.showNormal"
            name="Show Normal">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerCreateActivity"
            id="itu.abc4gsd.rcp.client_v6.command.showCreateActivityDialog"
            name="Create Activity">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerResetPerspective"
            id="itu.abc4gsd.rcp.client_v6.command.resetPerspective"
            name="Reset Perspective">
      </command>
      <command
            defaultHandler="itu.abc4gsd.rcp.client_v6.command.HandlerAdmin"
            id="itu.abc4gsd.rcp.client_v6.command.admin"
            name="Admin">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="itu.abc4gsd.rcp.client_v6.editor.EditorRun"
            default="false"
            id="itu.abc4gsd.rcp.client_v6.editor.run"
            name="Run">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="itu.abc4gsd.rcp.client_v6.sourceProvider.StateProvider">
         <variable
               name="itu.abc4gsd.rcp.client_v6.var_connected"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="addMenu"
               label="Add">
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.createUser"
                  label="User"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showCreateActivityDialog"
                  label="Activity"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="itu.abc4gsd.rcp.client_v6.var_connected">
                     <equals
                           value="CONNECTED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.addArtifact"
                  label="Artifact"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="itu.abc4gsd.rcp.client_v6.var_connected">
                     <equals
                           value="CONNECTED">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="showMenu"
               label="Show">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="itu.abc4gsd.rcp.client_v6.var_connected">
                  <equals
                        value="CONNECTED">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showViewPart"
                  label="Chats"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showViewPart"
                  label="Notifications"
                  style="push">
            </command>
            <separator
                  name="itu.abc4gsd.rcp.Client_v6.s1"
                  visible="true">
            </separator>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showViewPart"
                  label="Activity Hierarchy"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showViewPart"
                  label="Activity Graph"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showViewPart"
                  label="Contacts"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showViewPart"
                  label="Artifacts"
                  style="push">
            </command>
            <separator
                  name="itu.abc4gsd.rcp.Client_v6.s2"
                  visible="true">
            </separator>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.resetPerspective"
                  label="Reset View"
                  style="push">
            </command>
         </menu>
         <menu
               id="admin"
               label="Administation">
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showNormal"
                  label="Normal View"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showManagement"
                  label="Management View"
                  style="push">
            </command>
            <separator
                  name="itu.abc4gsd.rcp.Client_v6.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.addSchema"
                  icon="icons/AddSchema-16.png"
                  label="Add Schema"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.shell"
                  icon="icons/Terminal-16.png"
                  label="Shell"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.showInitialScreen"
                  disabledIcon="icons/Disconnected-16.png"
                  icon="icons/Connected-16.png"
                  label="Connection View"
                  style="push">
            </command>
            <command
                  commandId="itu.abc4gsd.rcp.client_v6.command.admin"
                  icon="icons/PT-16.jpg"
                  label="Admin"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="itu.abc4gsd.rcp.client_v6.application"
            name="ABC4GSD Client">
         <property
               name="appName"
               value="ABC4GSD Client">
         </property>
      </product>
   </extension>

</plugin>
