<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="ABC4GSD"
               label="ABC4GSD">
            <menu
                  id="svn"
                  label="svn">
               <command
                     commandId="itu.abc4gsd.eclipse.plugin.MiddleManVCS.commit"
                     label="Commit"
                     style="push">
               </command>
               <command
                     commandId="itu.abc4gsd.eclipse.plugin.MiddleManVCS.checkout"
                     label="Checkout"
                     style="push">
               </command>
               <command
                     commandId="itu.abc4gsd.eclipse.plugin.MiddleManVCS.update"
                     label="Update"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="itu.abc4gsd.eclipse.plugin.middlemanvcs.EarlyStart">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="itu.abc4gsd.eclipse.plugin.middlemanvcs.commands.Commit"
            id="itu.abc4gsd.eclipse.plugin.MiddleManVCS.commit"
            name="Commit">
      </command>
      <command
            defaultHandler="itu.abc4gsd.eclipse.plugin.middlemanvcs.commands.Checkout"
            id="itu.abc4gsd.eclipse.plugin.MiddleManVCS.checkout"
            name="Checkout">
      </command>
      <command
            defaultHandler="itu.abc4gsd.eclipse.plugin.middlemanvcs.commands.Update"
            id="itu.abc4gsd.eclipse.plugin.MiddleManVCS.update"
            name="Update">
      </command>
   </extension>

</plugin>
